body {
    background: -moz-radial-gradient(#C9CEDD, #C9CEDD, #8E96AD) repeat scroll 0 0 transparent;
    background: -webkit-radial-gradient(#C9CEDD, #C9CEDD, #8E96AD) repeat scroll 0 0 transparent;
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    height: 100%;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #999;
}

p {
    /* <p> tags only seemed to be used for annoying things */
    display:none;
}

td, p {
    font-size: 13px;
}
input, select {
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
}
select {
    padding-right: 2px;
    width: 420px;
}
input, select {
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 2px 4px;
}
td.weekday input, td.weekend input {
    width: 40px;
}
select {
    padding-right: 2px;
}

table, hr {
    display:none;
}

#mainarea {
    background-color: #FBF7E9;
    background: -webkit-linear-gradient(#FBF7E9, #EBE3D4) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#FBF7E9, #EBE3D4) repeat scroll 0 0 transparent;
    border: 1px solid #82817B;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 0 0 11px #898989;
    margin: 70px auto 10px;
    padding: 20px;
    width: 1100px;
    position: relative;
}
#table td {
    padding: 3px;
}
#table tr:nth-child(2) {
    font-weight: bold;
}
.filter-text {
    width: 100px;
}
input[type="submit"]:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: background-color;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: background-color;
    background-color: #DDD7C6;
}
input[type="submit"] {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: background-color;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: background-color;
    background-color: #F2EEE1;
    border: 1px solid #BBBBBB;
    padding: 5px 25px;
}
#weeks {
    height:28px;
    float:left
    background-color: #F4F1E2;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin:auto;
    margin-top:2px;
}
#weeks .child, #weeks td.oktxt {
    padding: 5px 8px;
    background-color: #F4F1E2;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: background-color;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: background-color;
    font-size: 11px;
    text-align: center;
    color: #333333;
    display: block;
    text-decoration: none;
}
#weeks td:first-child .child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#weeks td:last-child .child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#weeks a:hover {
    background-color: #DDD7C6;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: background-color;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: background-color;
}
#weeks .nolink {
    color: #999;
}
.utilities {
    height:28px;
    margin-top:20px;
}
.portion {
    float:left;
}
h1 {
    font-size: 17px;
    margin-top: 0;
}
h2 {
    font-size: 14px;
}
#options {
    position: absolute;
    top: 20px;
    right: 30px;
}
.links a, .links input {
    margin: 0 12px;
}
.links a:first-child {
    margin-left: 0;
}
.links a:last-child {
    margin-right: 0;
}
input[type=image] {
    vertical-align: middle;
    border: none;
    opacity: 0.3;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: opacity;
}
input[type=image]:hover {
    vertical-align: middle;
    opacity: 1;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    -moz-transition-duration: 0.5s;
    -moz-transition-property: opacity;
}
