!!! 5
html(lang="en")
    head
        title Timesheet
        style
            html {
                height:100%;
            }
            
        link(rel="stylesheet", type="text/css", href="/theme.css")
        - for lib in ["libraries/underscore", "libraries/iefixes", "libraries/jquery", "libraries/jade", "templates", "parse", "theme"]
            script(type="text/javascript", src="/#{lib}.js")
        
        - if (node)
            :coffeescript
                styler.node = true
                styler.base = "/clockbeat/auth.php/";
            
        - else
            :coffeescript
                styler.node = false
                styler.base = "http://timesheet.clockbeat.com/auth.php/";
            
        :coffeescript
            $ ->
                location = "#{window.location.pathname}#{window.location.search}"
                if location == "/app.html" or location == "/"
                    location = "/auth.php/timeworked.php"
                styler.goTo location, -> styler.setupOnPop()
    body
        span.loading Loading...
