!!! 5
html(lang="en")
    head
        title Timesheet
        link(rel="stylesheet", type="text/css", href="theme.css")
        script(type="text/javascript", src="libraries/jquery.js")
        :coffeescript
            $ -> $("a").show()
    body
        .main
            .container
                <span>TODO: Implement!</span>
